.puzzleItem {
    display: block;
    background-color: beige;
    width: 100px;
    height: 100px;
    float: left;
    border: solid 1px grey;
    cursor: pointer;
}

.puzzleItem:hover{
    background-color: rgba(185, 96, 245, 0.55);
}

.puzzleItem.active {
    background-color: #ffc99c;
}

.bottomLineBorder {
    border-bottom-width: 5px;
    border-bottom-color: #000000;
}

.rightLineBorder {
    border-right-width: 5px;
    border-right-color: #000000;
}

.puzzleRow {
    display: table;
}

#testCircle {
    position: absolute;
    width: 120px;
    height: 120px;
    /*border: solid 1px black;*/
    border-radius: 50%;
    /*opacity: 0.3;*/
    display: none;
}

.ltlCrcl {
    text-align: center;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: black;
    line-height: 30px;
    text-align: center;
    color: white;
    box-shadow: 0 0 5px blue;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.itemValue {
    height: 50px;
    width: 50px;
    text-align: -webkit-right;
    display: block;
    font-size: -webkit-xxx-large;
}

#puzzleContainer.paused {
    display: block;
    background-image: url(clickToResume.png);
    height:480px;
    width:480px;
    cursor: pointer;
}

#puzzleContainer.paused .puzzleRow,
#puzzleContainer.paused #testCircle{
    display: none;
}
